{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="col-lg-8 entries">

    {% for blog in blogs|slice:":3" %}
        <a href="{% url 'single' blog.pk %}">
          <article class="entry">

    <div class="entry-img">
      <img src="{{ blog.main_image.url }}" alt="" class="img-fluid">
    </div>

    <h2 class="entry-title">
      <a href="{% url 'single' blog.pk %}">{{ blog.title }}</a>
    </h2>

    <div class="entry-meta">
      <ul>
        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ blog.author }}</a></li>
        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time>{{ blog.created_at }}</time></a></li>
        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">{{ blog.comments }} Comments</a></li>
      </ul>
    </div>

    <div class="entry-content">
      <p>
        {{ blog.desc|slice:":200" }}
      </p>
      <div class="read-more">
        <a href="{% url 'single' blog.id %}">Read More</a>
      </div>
    </div>

  </article><!-- End blog entry -->
        </a>
    {% endfor %}


  {% if blogs.paginator %}
      <div class="blog-pagination">
    <ul class="justify-content-center">
      {% for num in blogs.paginator.page_range %}
          {% if blogs.num == num %}
                <li class="active"><a href="#">{{ num }}</a></li>
          {% endif %}
          <li><a href="#">{{ num }}</a></li>
        {% endfor %}
    </ul>
  </div>
    {% endif %}

</div><!-- End blog entries list -->

{% endblock content %}